body { background: #e72e60; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-database-0 { color: #b8793b; font-size: 14px; margin-bottom: 5px; }
.block-validator-1 { color: #c90d65; font-size: 18px; margin-bottom: 5px; }
.block-order-2 { color: #69249f; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #a18303; font-size: 20px; margin-bottom: 5px; }
.block-uploader-4 { color: #2853f5; font-size: 15px; margin-bottom: 5px; }
.block-shipping-5 { color: #359164; font-size: 15px; margin-bottom: 5px; }
.block-helper-6 { color: #ead2ff; font-size: 19px; margin-bottom: 5px; }
.block-cart-7 { color: #edab47; font-size: 19px; margin-bottom: 5px; }
.block-order-8 { color: #ca7683; font-size: 14px; margin-bottom: 5px; }
.block-validator-9 { color: #e37497; font-size: 13px; margin-bottom: 5px; }
.block-sms-10 { color: #889760; font-size: 17px; margin-bottom: 5px; }